doctype html
html(lang='fr',ng-app="morpionbattle")
    head
        title MorpionBattle
        link(rel='stylesheet', href='/static/fonts/Roboto.css')
        link(rel='stylesheet', href='/static/lib/font-awesome.css')
        link(rel='stylesheet', href='/static/lib/animate.css')
        link(rel='stylesheet', href='/static/lib/loading-bar.css')
        link(rel='stylesheet', href='/static/css/master.css')
        link(rel='stylesheet', href='/static/css/generic/form.css')
        link(rel='stylesheet', href='/static/css/ngAnimation.css')
        script(src="/static/lib/socket.io.js",defer)
        script(src="/static/lib/angular.min.js",defer)
        script(src="/static/lib/angular-animate.min.js",defer)
        script(src="/static/lib/angular-sanitize.min.js",defer)
        script(src="/static/lib/angular-route.min.js",defer)
        script(src="/static/lib/loading-bar.js",defer)
        script(src="/static/js/factory/socket.js",defer)
        script(src="/static/js/directives/nginput.js",defer)
        script(src="/static/js/controller/router.js",defer)
        script(src="/static/js/controller/main.js",defer)
    body(ng-controller="layoutController")
        section(class="view",id="ngView",ng-view)
