section(id="lobby",ng-controller="lobby")
    section(class="userData")
        section(class="name")
            p #{login}
            span(ng-click="logout()") Logout
        section(class="stats win")
            h2 win
            span #{win}
        section(class="stats loose")
            h2 loose
            span #{loose}
        section(class="stats elo")
            h2 elo
            span #{elo}
    main
        section(class="serversList",ng-controller="serversList")
            section(class="server",ng-repeat="(k,v) in serversList")
                p(class="lock"): i(class="fa fa-lock")
                p(class="name") {{v.name}}
                span 1/3
        section(class="options")
            button(ng-click="popupState(true)") Create Game
            button.inactive Join
