#ngView > h1 {
    font-size: 40px;
    color: #3D5AFE;
    font-variant: small-caps;
}

#ngView > span {
    font-size: 18px;
    font-style: italic;
}

#authentification {
    width: 60vw;
    min-height: 400px;
    display: flex;
    margin-top: 30px;
}

    #authentification h2 {
        border-bottom: 1px solid #EEE;
        height: 30px;
        font-family: Roboto;
        display: flex;
        align-items: center;
        color: #3D5AFE;
        font-size: 17px;
    }

    #authentification > section {
        display: flex;
        flex-direction: column;
        border: 2px solid #CCC;
        border-radius: 2px;
        background: #FFF;
        padding: 20px;
    }

    #authentification > .register {
        margin-right: 15px;
        flex-grow: 1;
    }

    #authentification > .login {
        margin-left: 15px;
        flex-grow: 1;
    }
