#lobby {
    width: 50vw;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

#lobby > * + * {
    margin-top: 20px;
}

#lobby > .userData {
    height: 80px;
    box-sizing: border-box;
    border: 2px solid #CCC;
    border-radius: 2px;
    background: #FFF;
    display: flex;
}
    #lobby > .userData > .name {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
        #lobby > .userData > .name p {
            font-size: 24px;
            font-weight: bold;
            display: flex;
            align-items: center;
            margin-left: 20px;
        }
        #lobby > .userData > .name span {
            background: #E53935;
            padding: 0 10px;
            border-radius: 2px;
            margin-left: auto;
            margin-right: 20px;
            height: 30px;
            display: flex;
            align-items: center;
            transition: all 0.2s linear;
            color: #FFF;
        }
            #lobby > .userData > .name span:hover {
                cursor: pointer;
                background: #C62828;
            }

    #lobby > .userData .stats {
        width: 150px;
        border-left: 2px solid #CCC;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        transition: all 0.2s linear;
    }
        #lobby > .userData .stats.win h2 {
            color: #8BC34A;
        }
        #lobby > .userData .stats.loose h2 {
            color: #E53935;
        }
        #lobby > .userData .stats.elo h2 {
            color: #3D5AFE;
        }
        #lobby > .userData .stats:hover {
            background: #FAFAFA;
        }
        #lobby > .userData .stats > h2 {
            font-size: 22px;
            margin-bottom: 5px;
        }
        #lobby > .userData .stats > span {
            color: #333;
        }

#lobby > main {
    min-height: 350px;
    height: 80px;
    box-sizing: border-box;
    border: 2px solid #CCC;
    border-radius: 2px;
    overflow: hidden;
    background: #FFF;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
    #lobby > main > .serversList {
        flex-grow: 1;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
    }
        #lobby > main > .serversList .server {
            flex-basis: 45px;
            min-height: 45px;
            background: #CFD8DC;
            display: flex;
            padding: 0 20px;
            align-items: center;
            flex-shrink: 0;
        }
            #lobby > main > .serversList .server > p.lock {
                width: 20px;
                height: 20px;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            #lobby > main > .serversList .server > p.name {
                font-size: 16px;
                font-weight: bold;
                color: #37474F;
            }
            #lobby > main > .serversList .server > span {
                width: 25px;
                height: 25px;
                padding: 0 5px;
                font-size: 14px;
                font-weight: bold;
                background: #263238;
                color: #FFF;
                border-radius: 2px;
                display: flex;
                align-items: center;
                margin-left: auto;
                justify-content: center;
            }
        #lobby > main > .serversList .server + .server {
            margin-top: 5px;
        }

    #lobby > main > .options {
        height: 40px;
        display: flex;
        justify-content: flex-end;
        flex-shrink: 0;
    }

        #lobby > main > .options > button + button {
            margin-left: 10px;
        }
