form {
    font-family: "Roboto";
}

input {
    outline: none;
}

form .field {
    position: relative;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    transition: all 0.3s linear;
}

form .field::before, form .field::after {
    content: ' ';
    height: 2px;
    background: #E0E0E0;
    position: absolute;
    left: 0;
    bottom: 26px;
    width: 100%;
    transition: all 0.3s linear;
}

form .field::after {
    background-color: #039BE5;
    transform: scaleX(0);
    transform-origin: 0 100%;
}

    form input[type="submit"] {
        border: 3px solid #78909C;
        background: rgb(238,238,238); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
        width: 120px;
        border-radius: 2px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: bold;
        color: #455A64;
        height: 40px;
    }
        form input[type="submit"]:not(.disabled):hover {
            border-color: #3D5AFE;
            color: #3D5AFE;
            cursor: pointer;
        }

        form input[type="submit"].disabled {
            opacity: 0.4;
        }

    /* Has label style */
    form .field.has-label > label {
        transform: translateY(0);
        font-size: 12px;
    }

    /* Focus Style */
    form .field.is-focused::after {
        transform: scaleX(1);
    }

    form .field.is-focused > label {
        font-size: 12px;
        color: #039BE5;
    }

    form .field.is-focused > input {
        color: #039BE5;
    }

    form .field:not(.is-focused) > input {
        color: #616161;
    }

    form .field > label {
        position: relative;
        line-height: 16px;
        color: #9E9E9E;
        font-weight: 400;
        transition: all 0.2s linear;
        transform: translateY(28px);
        transform-origin: 0 50%;
        font-size: 16px;
    }

    form .field > select {
        position: relative;
        line-height: 16px;
        padding: 8px 0;
        -webkit-appearence: none;
        height: 40px;
        box-sizing: border-box;
        font-size: 16px;
        font-family: "Roboto";
        transition: all 0.2s linear;
        background: #E1E1E1;
        border-radius: 1px;
        outline: none;
        border: none;
        padding: 0 10px;
        border: 2px solid #FFF;
    }

    form .field > input {
        position: relative;
        line-height: 16px;
        padding: 8px 0;
        background: transparent;
        border: none;
        -webkit-appearance: none;
        font-family: "Roboto";
        font-size: 16px;
        height: 22px;
        transition: all 0.2s linear;
    }
        form .field > input.ng-valid {
            color: #8BC34A;
        }

    form .field > .input_info {
        height: 20px;
        padding-top: 5px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        font-size: 0.85em;
        font-weight: 400;
        font-family: "Roboto";
    }
        form .field > .input_info span.error {
            transition: all 0.2s linear;
            color: #E0E0E0;
            font-weight: 300;
        }

        form .field > .input_info span.invalid {
            color: #FF5252;
        }
        form .field > .input_info span.info {
            color: #E0E0E0;
        }
        form .field > .input_info span.valid {
            color: #8BC34A;
        }

        form .field > .input_info > .count {
            margin-left: auto;
            color: #E0E0E0;
        }

    form .field-center {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
